@use '../utils/variables' as v;

.dropdown__button {
	font-family: inherit;
	width: 100%;
	color: inherit;
	background: none;
	border: none;
	text-transform: uppercase;
	cursor: pointer;
	padding: 20px 19px;
}

.header__button {
  display: none;
}

.home__button {
  font-family: v.$heading-font-family;
  margin-top: 4rem;
  align-self: center;
  width: 200px;
  background-color: #ffae00;
  border: 2px solid #000000;
  color: #ffffff;
  padding: 15px 30px;
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0px 5px 0px #800000;
  transition:
    transform 0.2s,
    box-shadow 0.2s;

  &:hover {
    transform: translateY(2px);
    box-shadow: 0px 3px 0px #800000;
  }
}

.form__button {
	position: absolute;
	bottom: 2rem;
	left: 50%;
	transform: translateX(-50%);
  font-family: v.$font-family-base;
  width: 70%;
  padding: 1rem 0;
  border-radius: 5px;
  border: none;
  background-color: var(--background-color-alt-modal);
  color: var(--text-color-disabled-modal);
  font-weight: bold;
	font-size: 1rem;
}

.form__button:not(:disabled) {
  color: #fff;
  background-color: #ffae00;
  cursor: pointer;
  box-shadow: 0px 5px 0px #800000;
  transition:
    transform 0.2s,
    box-shadow 0.2s;

  &:hover {
    transform: translateY(2px) translateX(-50%);
    box-shadow: 0px 3px 0px #800000;
  }
}

@media screen and (min-width: v.$breakpoint-large){
	.header__button {
		font-family: v.$heading-font-family;
		position: relative;
		height: 100%;
		width: 100%;
		display: inline-block;
		padding: 0;
		font-size: 0.75rem;
		text-align: center;
		text-transform: uppercase;
		color: inherit;
		background: none;
		border: none;
		border-radius: 5px;
		cursor: pointer;
		transition: background-color 0.3s ease;
	
		&:focus {
			outline: none;
		}
	}
}