@use '../utils/variables' as v;

.dropdown-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 54px;
  width: 100vw;
  background: none;
  border: none;
  font: inherit;
  color: var(--text-color-link);
  text-transform: uppercase;
  cursor: pointer;
  padding: 0 20px;
  border-bottom: 1px solid var(--text-color);
  margin-bottom: -1px;

  &:hover {
    color: var(--text-color);
  }

  & p {
    padding-left: v.$spacing-medium;
  }
}

.dropdown {
  padding: 0;
}

.dropdown-content {
  display: none;
}

.dropdown-content--toggled {
  position: relative;
  display: block;
}

.dropdown .dropdown-link {
  display: flex;
  align-items: center;
  padding-left: 45px;
  width: 100%;
  height: 53px;
	color: var(--text-color-link);

  &:hover {
    color: var(--text-color);
  }
}

.dropdown-item {
  width: auto;
}

.angle-down svg {
  width: 20px;
  height: 20px;
  margin-right: v.$spacing-medium;
}

.account-dropdown-container {
	background: none;
	border: none;
	color: var(--text-color-link);
	margin: 0 14px;
}

.account-dropdown {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.account-dropdown-content {
	position: fixed;
	top: 54px;
	display: none;
	background-color: var(--background-color);
}

.account-dropdown-content--toggled {
	display: block;
	right: 20px;
}

.account-dropdown-item {
	padding: 20px 19px;
	font-size: 11.2px;
	border-top: 1px solid var(--text-color);
	height: 50px;
}

.account-dropdown-container {
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: v.$heading-font-family;
}

.account-dropdown-item {
	color: var(--text-color-link);

	&:hover {
		color: var(--text-color);
	}
}


@media screen and (min-width: v.$breakpoint-large) {
  .dropdown {
    position: relative;
  }

  .dropdown-container {
    position: relative;
    display: flex;
		align-items: center;
    width: auto;
    border: none;
    margin-bottom: 0;
    max-height: 54px;
    justify-content: center;
    padding: 0 v.$spacing-medium;
  }

  .dropdown-container p {
    padding-left: 0;
  }

  .dropdown-content {
    width: auto;
    position: absolute;
    top: 54px;
    right: 0;
    z-index: v.$z-index-dropdown;
    display: none;
    background-color: var(--background-color);
  }

  // .dropdown-item:first-child {
  //   border-top: 1px solid var(--text-color);
  // }

  .dropdown-item {
		border-top: 1px solid var(--text-color);
  }

  .dropdown-link {
    height: 54px;
  }

  .dropdown .dropdown-link {
    padding: 0 14px;
  }

  .dropdown-content--toggled {
    display: block;
  }

  .dropdown-container--clicked {
    background-color: var(--background-color);
  }

  .angle-down svg {
    padding: 0 0 0 0.2rem;
    margin: 0;
    width: 15px;
    height: 15px;
  }

	.account-dropdown-content--toggled {
		right: 80px;
	}


}


