@use '../utils/variables' as v;

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  animation: fadeIn 0.3s ease;
}

.modal-content {
	font-family: v.$font-family-base;
	position: relative;
  background-color: var(--background-color-modal);
	color: var(--text-color);
  padding: 5rem 2rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%; /* ou une largeur fixe, selon votre besoin */
	height: 100%;
  z-index: 1001; /* Assure que le contenu de la modal est au-dessus de l'overlay */
  animation: fadeIn 0.3s ease;
}

.modal-close-button {
	width: 32px;
	height: 32px;
	position: absolute;
	top: 20px;
	right: 20px;
  float: right;
  font-size: 1.2rem;
  font-weight: bold;
  border: none;
	border-radius: 50%;
  background-color: var(--background-color-alt-modal);
	display: flex;
	align-items: center;
	justify-content: center;
  cursor: pointer;

	&:hover {
		background-color: #223237;
	}
}

.mail-icon {
	display: block;
	width: 3rem;
	height: 3rem;
	text-align: center;
	margin: 2rem 0;
}

@media screen and (min-width: 500px) {
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  animation: fadeIn 0.3s ease;
}

.modal-content {
	font-family: v.$font-family-base;
	position: relative;
  padding: 5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	border-radius: v.$border-radius;
  width: 90%; /* ou une largeur fixe, selon votre besoin */
	min-height: 640px;
	height: auto;
	padding-bottom: 0;
  max-width: 500px; /* Assure que la modal ne soit pas trop large sur grands écrans */
  z-index: 1001; /* Assure que le contenu de la modal est au-dessus de l'overlay */
  animation: fadeIn 0.3s ease;
}

.modal-close-button {
	width: 32px;
	height: 32px;
	position: absolute;
	top: 20px;
	right: 20px;
  float: right;
  font-size: 1.2rem;
  font-weight: bold;
  border: none;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
  cursor: pointer;

	&:hover {
		background-color: #223237;
	}
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

	
}
