@use '../utils/variables' as v;

.form {

	&__title {
		font-family: v.$heading-font-family;
		font-size: 1.1rem;
		margin-bottom: 2rem;
		text-transform: uppercase;
		text-align: left;
		line-height: 1.5rem;

		&--center {
			text-align: center;
		}
	}

	&__text {
		font-size: 0.8rem;
		margin-bottom: 1rem;
		margin-top: 1rem;
		line-height: 1.2rem;

		&--success {
			display: flex;
			width: 100%;
			font-size: 1rem;
		}

		&--center {
			text-align: center;
		}
	}

	&__link {
		color: #629fff;
		text-decoration: none;
		cursor: pointer;
		background: none;
		outline: none;
		border: none;
		font-family: inherit;
	}

	&-container--center {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

}

.form__input {
  width: 100%;
  height: 3.5rem;
  padding: 1rem;
  border: none;
  border-radius: 1.25rem;
  background-color: var(--background-color-alt-modal);
  color: var(--text-color);
  font-size: v.$base-font-size;
	outline: none;
	border: 2px solid transparent;
	// margin: 10px 0;

	&::placeholder {
		font-size: 1rem;
	}

	&[aria-invalid="true"] {
		border: 2px solid #ff6e80;
	}

}

.form__error {
  // visibility: hidden;
  font-size: 0.75rem;
  padding: 0.2rem 1rem;
  color: #ff6e80;
  font-size: 0.75rem;
  padding: 0.2rem 1rem;

  &--show {
    visibility: visible;
  }
}

.input-container {
	position: relative;
}

.required-asterisk {
	position: absolute;
	top: 16px;
	left: 74px;
	visibility: hidden;
	font-size: 0.7rem;
	color: #ff6e80;

	&--show {
		visibility: visible;
	}

	&--email {
		visibility: visible;
		left: 61px;
	}
	
	&--sigin-password {
		visibility: visible;
		left: 115px;
	}

	&--password {
		visibility: visible;
		left: 115px;
	}

	&--old-password{
		visibility: visible;
		left: 170px;
	}

	&--new-password{
		visibility: visible;
		left: 185px;
	}

	&--confirm-new-password{
		visibility: visible;
		left: 275px;
	}
}

.loading {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 1rem;
	visibility: hidden;

	&--show {
		visibility: visible;
	}	
}
