@use '../utils/variables' as v;

.main-home {
  min-width: 100vw;
  min-height: 100vh;
  background-image: url(/assets/ui/home/mobile-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
	background-size: cover;
}

@media screen and (min-width: v.$breakpoint-small) {
	.main-home {
		background-image: url(/assets/ui/home/tablet-bg.jpg);
	}
	
}

@media screen and (min-width: v.$breakpoint-medium) {
	.main-home {
		background-image: url(/assets/ui/home/desktop-bg.jpg);
	}
	
}