@use '../utils/variables' as v;

.header {
  position: fixed;
  top: 0;
  width: 100vw;
  background-color: transparent;
  max-width: none;
  height: 54px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: v.$primary-text-color;
  font-family: v.$heading-font-family;
  text-transform: uppercase;
	transition: all 0.5s ease-in-out;
	z-index: 99;

  &__title {
    height: 100%;
    display: flex;
    align-items: center;

		&:hover {
			color: #fff;
		}
  }

  &__title a {
    height: 100%;
    display: flex;
    align-items: center;
  }

	&--scrolled {
		transition: all 0.5s ease-in-out;
		background-color: #101615;
	}
}

.navbar {
  position: fixed;
  font-size: 0.7rem;
  top: 0px;
  width: 100vw;
  height: 100%;
  max-height: 0px;
  overflow: hidden;
  overflow-x: hidden;
  background-color: #101615;
  transition: all 1.2s;
	padding-top: 0px;


  &__list {
    flex-direction: column;
    align-items: center;

    &:nth-child(1) {
      border-top: 1px solid #fff;
    }
  }

  &__item {
    border-bottom: 1px solid #fff;
  }

  &__link {
    display: block;
    padding: 19px 0 19px v.$spacing-medium;

    &:hover {
			color: #fff;

    }
  }

  &--visible {
		padding-top: 54px;
    max-height: 100vh;
  }
}

.account-container {
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
	margin-right: 42px;
  cursor: pointer;

	&:hover .link {
		color: #fff;
	}
}

.account-icon {
  width: 26px;
  height: 26px;
  margin: 0 v.$spacing-small;
}

.link {
	color: v.$primary-text-color;
	font-size: 0.8vw;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}


@media screen and (min-width: v.$breakpoint-large) {
  .header {
    display: flex;
		background-color: transparent;
		transition: all 0.5s ease-in-out;

		&__title {
			padding-left: v.$spacing-medium;
			font-size: 1.3vw;
		}

		&--scrolled {
			transition: all 0.5s ease-in-out;
			background-color: #101615;
		}
  }

  .burger-menu {
    display: none;
  }

  .navbar {
		background-color: transparent;
    position: absolute;
    top: 0;
		left: 50%;
		transform: translateX(-50%);
    width: fit-content;
    max-height: 54px;
    overflow: visible;
    border: none;
		font-size: 0.8vw;

    &__list {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      border: none;

      &:nth-child(1) {
        border: none;
      }
    }

    &__item {
      border: none;
      height: 54px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: none;
    }

    &__link {
      padding: 0 v.$spacing-medium;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      border: none;
    }
  }
}
