@use '../utils/variables' as v;

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

input::placeholder {
	color: #6F8186;
}

.close-icon {
	color: #fff;
	width: 25px;
	height: 25px;
}