@use '../utils/variables' as v;

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  color-scheme: light dark;
  --text-color: #ffffff;
  --text-color-link: #ffffffcc;
  --background-color: #0b1416;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: light) {
  :root {
    --text-color: #000000;
    --text-color-link: #424242;
    --background-color: #f9fafb;
  }
}

.light {
  --text-color: #000000;
  --text-color-link: #424242;
  --background-color: #F9FAFB;

	--background-color-modal: #FFFFFF;
	--background-color-alt-modal: #EAEDEF;
	--text-color-disabled-modal: #BBB5BB;

	--background-color-header: #FFFFFF;

	--border-bottom-color: rgb(229, 231, 235)
}

.dark {
  --text-color: #ffffff;
  --text-color-link: #ffffffa2;
  --background-color: #111827;

	--background-color-modal: #0F1A1C;
	--background-color-alt-modal: #1A282D;
	--text-color-disabled-modal: #51595B;

	--background-color-header: #101615;

	--border-bottom-color: rgb(31, 41, 55);
}

input::placeholder {
  color: #6f8186;
}

.title {
	width: 100%;
	font-family: v.$heading-font-family;
	text-transform: uppercase;
	color: #fff;
	text-align: center;
	font-size: 2rem;
	text-shadow: 3px 5px 1px black;
}

.close-icon {
  color: var(--text-color);
  width: 25px;
  height: 25px;
}
